a {
    padding: .5em;
}

.customDropdown {
    padding: 0em, .5em, 1em, .5em;
}

.searchBar {
    padding: 1em;
}

.pageNav {
    width: 100%;
}

.dropdown-menu.show {
    height: 25em;
    overflow-y: scroll;
}

.customImage {
    width: 100%;
    padding: 1.5em;
}
